#ifndef {{header_guard}}
#define {{header_guard}}

#include <stdint.h>

{{#enums}}
typedef enum {{name}} {
{{#values}}
    {{c_name}},
{{/values}}
} {{name}};

{{/enums}}
{{#declarations}}
typedef struct {{c_name}} {
{{#fields}}
    {{c_type}} {{name}};
{{/fields}}
} {{c_name}};

{{/declarations}}
#endif
